@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    background-color: brown;
    color: white;
    height: 40px;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-family: 'Oswald', sans-serif;

}

nav ul {
    list-style-type: none;
}

.gameContainer {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);
    position: relative;
}

.box {
    border: 1px solid black;
    font-size: 7vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover {
    background-color: rgb(236, 205, 236);
}

.gameInfo {
    padding: 0 34px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.gameInfo h1 {
    font-size: 2.5rem;
}

.imgBox img {
    width: 0;
    transition: width 1s ease-in-out;
}

.br-0 {
    border-right: 0;
}

.bl-0 {
    border-left: 0;
}

.bt-0 {
    border-top: 0;
}

.bb-0 {
    border-bottom: 0;
}

#reset {

    margin: 0px 3px;
    padding: 4px 9px;
    cursor: pointer;
    background-color: #e1a3dc;
    border-radius: 9px;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: rgb(46, 104, 46);
    height: 3px;
    width: 0;
    position: absolute;
    transition: width 0.5s ease-in-out;
}

@media screen and (max-width: 800px) {
    .gameContainer {
        flex-wrap: wrap;
    }

    .gameInfo {
        margin-top: 34px;
    }

    .gameInfo h1 {
        font-size: 2.5rem;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(3, 20vw);
        grid-template-rows: repeat(3, 20vw);
    }
}